name:  Action Workflow 
on: [push]
jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v1

      - name: List files
        run: |
          pwd
          ls -a
      - name: Simple JS Action
        id: greet
        #uses: actions/hellow-world-javascript-action@master -- branch
        uses: actions/hello-world-javascript-action@v1.1
        #uses: actions/hellow-world-javascript-action@<commit_id> -- commit id
        with: 
          who-to-greet: Supreeth
      - name: Log Greeting time
        run: echo "${{steps.greet.outputs.time}}"
  